<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="FilePath" value="D:\Priyesh\C#_OOPS\ajex_exam_task\EmployeeData_10_04_23.json" />
	</appSettings>
</configuration>